body{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-image: url("https://e0.pxfuel.com/wallpapers/1001/972/desktop-wallpaper-opera-r3-light-theme-background.jpg");
    text-align: center;
}

a{
    color: #61677A;
    margin: 5%;
    text-decoration: none;
}
a:hover{
    color: #000;
    border: black solid 0.5px;
}
.links{
    padding-top: 1%;
}

.main{
    padding-top: 2%;
    padding-bottom: 2%;
}
.sub{
    margin-left: 12.5%;
    margin-right: 12.5%;
}
.main:hover{
    transform: scale(1.02);
}
h2{
    margin-top:3%;
    margin-bottom: 1.5%;
}
.two h6{
    font-weight: 300;
}
.edu{
    margin-left: 30%;
}

.about,.suggest-sub{
    z-index: 1;
    overflow: hidden;
    position: relative;
}
.about:hover::before,.suggest-sub:hover::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    animation: journey 0.9s;
    z-index: -1;
    background-color: black;
    opacity: 0.10;
}
/* Style for elements with class .journey */
.journey {
    width: 70%;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    position: relative;
    margin-bottom: 3%;
    margin-top: 5%;
    border-radius: 0 70px;
    z-index: 1;
    overflow: hidden;
  }

  .journey:hover::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.45;
    animation: journey 0.6s;
    z-index: -1;
  }
  .j-blue{
    background-color: rgb(215,233,247,0.65);
  }
  .j-purple{
    background-color: rgb(229,224,255,0.65);
  }
  .j-purple:hover::before{
    background-color: rgb(157, 68, 192);
  }
  .j-blue:hover::before{
    background-color: rgb(39, 158, 255);
  }

  @keyframes journey {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  

.two i{
    color: white;
    border:0.5px solid black; 
    border-radius: 50%;
}


.text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  .bar-container {
    background-color: white; 
    height: 15px;
    border: 0.5px solid black;
  }
  
  .bar-filled {
    height: 100%;
  }
  .purple-bg{
      background-color: #E5E0FF;
  }
  .blue-bg{
      background-color: #D7E9F7;
  }


  .four a{
    font-size: 100px;
  }
  .four a :hover{
    margin-left:2.5%;
  }

  @media(max-width:768px){
    .links{
        padding-bottom: 4%;
    }
    h2{
        margin-top:6%;
        margin-bottom: 3%;
    }
    .four a :hover{
        margin-left:6%;
    }
    .journey{
        width: 100%;
        border-radius: 0 40px;
    }
    .edu{
        margin-left: 10%;
    }
  }

  footer{
    margin-top: 5%;
    opacity: 0.6;
  }
  